.navigation{
    display: flex;
    justify-content: center;
    background: #5889a1;  
    background: -webkit-linear-gradient(to right, #6d7b88, #a9d4ec);  
    background: linear-gradient(to right, #707a86, #b4c5ce); 
    position: fixed; 
    right:0;
    left: 0;
    top: 0;
    padding: 30px;
    text-align: center;
    font-size: 1.4rem;
    border-bottom:2px solid white;
}

.navigation > div{
    padding: 5px;
    color: white;
}
.navigation .active{
    border-bottom: 2px solid rgb(252, 252, 246);
    /* background-color: green; */
}
.navigation > div:hover{
    background-color: #232526;
    border: hsl(200, 26%, 54%);
    color: white;
    cursor: pointer;
    border-radius: 2px;
    /* border-bottom: 0.5px solid goldenrod;  */
}
